.History {
    padding-inline: 1rem;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.History > .title {
    text-align: center;
}

/* .History > .spacer {
    margin-top: 3rem;
} */

.history-blocks {
    height: 90%;
}

.test-metric-block {
    display: grid;
    padding: 1rem;
    margin: 1rem 0rem;
    grid-template-columns: 2fr 1fr;
    background-color: #59588D4D;
    align-items: center;
    border-radius: 1rem;
    height: 15rem;
}
