.App {
  position: relative;
  overflow-x: hidden;
  height: 100%;
  /* display: flex;
  width: 100%;
  flex: 1; */
}

.routed-comp {
  /* margin-left: 15rem; */
  width: 100%;
  height: 100%;
  /* transform: translate(20%, 0%); */
}
/* 
.routed-comp{
  padding-top: 6.5rem;
} */

/* .left-spaced:nth-child(2){
  margin-top: 6.5rem;
} */

h1, h2, h3 {
  color: white;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

#mouse-shine {
  width: 25px;
  height: 25px;
  background-color: white;
  position: fixed;
  z-index: 10;
  border-radius: 50%;
  translate: -50% -50%;
  opacity: 0.6;
  pointer-events: none;
  /* filter: invert(); */
}
